#container-countdown {
    display: flex;
    justify-content: flex-end;
    
}

#countdown {
    margin-top: 550px;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #f5c38a, #f0f3f5);
}

#myVideo {
    position: fixed; 
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
}

#myButton {
    display: none;
}

@media all and (max-width: 500px){
    #myButton{
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(to right, #2a5758, #f0f3f5);
        display: block;
        color: black;
    }
}

body{
    background: linear-gradient(to right, #2a5758, #f0f3f5);
}